* {
  margin: 0;
  padding: 0;
  font-family:  'STHeiti', 'SimHei', 'Tahoma,Arial','Helvetica Neue', sans-serif;
}
h1 {
  color: #99E0EB;
  font-size: 3em;
  margin: 20px auto;
  text-align: center;
}
#validation-form{
  display: flex;
  flex-direction: column;
}
input {
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  font-size: 1.1em;
  border: 1px solid gray;
}
p {
  display: block;
  text-align: center;
  height: 20px;
  margin: 0 auto;
}
button{
  order: 100;
  border: 1px solid #99E0EB;
  display: inline-block;
  margin: 20px auto;
  height: 40px;
  width: 300px;
  font-size: 1.1em;
  color: #99E0EB;
  background-color: #fff;
}
button:hover{
  border: none;
  cursor: pointer;
  background-color: #99E0EB;
  color: #fff;
}
.show-rule {
  color: gray;
}
.show-correct{
  color: #A0C282;
}
.show-err-length, .show-err-pass2, .show-err-email, .show-err-phone{
  color: #ff8b80;
}
