@charset "utf-8"

/*default settings*/
body,ul,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,nav,section,table,td,th{
  margin:0;
  padding:0;
  border:0;
  display: block;
  vertical-align: baseline;
} 
body{
  background:#fff;
  color: #333;
  background-color:rgb(226, 226, 226);
  font-size:14px; 
  font-family: "SimSun","宋体","Arial Narrow";
  margin: 0;
  padding: 0;
} 
select,input,img,select{
  vertical-align:middle;
}

#main-container {
  display: block;
  min-width: 1280px;
  margin-top: 0;
}
/*导航 navbar*/
nav {
  height: 60px;
  position: relative;
  background-color: #fff;
}
nav img {
  position: absolute;
  margin: 0 0 0 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
nav h3 {
  margin: 0 0 0 100px;
  position: absolute;
  height: 40px;
  width: 100px;
  line-height: 40px;
  font-size: 2em;
  font-weight: lighter;
}
nav ul {
  position: absolute;
  display: inline;
  width: 700px;
  right: 0;
}
nav ul li {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin: 0;
  font-size: 1.3em;
}
nav li a{
  color: #534141;
  text-decoration: none;
}
nav li a:hover {
  color: #E15C54;
}
.login a{
  color: #E15C54;
}
.login a:hover{
  color: #D9CDA1;
}

/*section 1*/
#section-1 {
  height: 855px;
  background-image: url("./s1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#section-1 div {
  position: absolute;
  height: 300px;
  color: #fff;
  top: 50%;
  margin-top: -80px;
  left: 100px;
}
#section-1 h1{
  font-size: 4em;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
}
#section-1 h2{
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 10px;
}
#section-1 a {
  display: block;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 300px;
  font-size: 2em;
  color: #fff;
  background-color: #E15C54;
  margin-top: 60px;
  font-family: "Heiti SC Light", "Microsoft YaHei", sans-serif;
}
#section-1 a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #E15C54;
}

/*section 2*/
#section-2{
  background-color: #fff;
}
#section-2 ul{
  display: block;
  padding: 0;
  width: 1280px;
  height: 150px;
  margin: 0 auto;
  list-style-type: none;
}
#section-2 .icons {
  padding-top: 50px;
  font-size: 3.5em;
}
.descriptions{
  font-size: 1.1em;
}
ul.icons li{
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 40px 0 0 0;
  padding: 0;
  color: #E15C54;
}
ul.descriptions li{
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0;
  color: #8F8F8F;
  border-right: 1px solid #8F8F8F;
}
ul.descriptions li:last-child{
  border: none;
}

/*section 3*/
#section-3 {
  position: relative;
  min-width: 1280px;
  height: 400px;
  background-color: #ECEBED;
}
#section-3 img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -50px;
}
#section-3 h1 {
  position: absolute;
  width: 840px;
  top: 50%;
  left: 50%;
  margin-left: -420px;
  font-size: 4em;
  font-weight: lighter;
  color: #666463;
  opacity: 0.6;
}

/*section 4*/
#section-4 {
  position: relative;
  height: 300px;
  background-image: url("./s42.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#section-4 h2, p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Microsoft YaHei", sans-serif;
}
#section-4 h2 {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 50px;
  font-size: 2.2em;
  text-align: center;
}
#section-4 p{
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 100px;
  text-align: center;
}
  
#section-4 form {
  position: absolute;
  height: 80px;
  width: 1200px;
  top: 60%;
  left: 50%;
  margin-left: -600px;
}

#section-4 select {
  height: 40px;
  width: 250px;
  font-size: 1.2em;
  color: #8E8E8F;

  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: none;
  border-radius: 0;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  background-color: #fff;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}
#section-4 select {
  margin-right: 40px;
  padding-left: 10px;
}

#section-4 a{
  display: inline-block;
  position: relative;
  top: 2px;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-size: 1.2em;
  color: #fff;
  background-color: #E15C54;
  text-align: center;
  letter-spacing: 30px;
  padding-left: 30px;
}
#section-4 a:hover {
  background-color: #fff;
  color: #E15C54;
}

/*#section 5*/
#section-5 {
  height: 505px;
  min-width: 1280px;
  background-color: #fff/*#ECEBED*/;
  position: relative;
}

#section-5 img{
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 340px;
  text-align: center;
}
#section-5 div {
  float: left;
  position: relative;
  margin: 2%;
  width: 20%;
  height: 383px;
}
#section-5 h3, #section-5 p {
  color: #534141;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: lighter;
  font-family: "Heiti SC Light", "Microsoft YaHei", sans-serif;
}
#section-5 h3{
  font-size: 2em;
  font-weight: normal;
}
#section-5 p{
  color: #8E8E8F;
}
#section-5 p:nth-child(2n+1){
  /*background-color: pink;*/
}

/*section 6*/


