* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

.carousel-wrapper {
  padding: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px;
}

.gallery-wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  /*width: 750px;
  height: 180px;*/
  overflow: hidden;
}

.gallery {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 20000px;
  height: 100%;
  text-align: center;
  /*left: -750px;*/
  /*background-color: pink;*/
}

/*.go-left, .go-right {
  position: fixed;
  display: block;
  width: 100px;
  height: 180px;
  color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  line-height: 180px;
  font-size: 3em;
  font-family: 'Arial', sans-serif;
}
.go-left {
  left: 260px;
}
.go-right {
  left: 910px;
}
.go-left:hover, .go-right:hover {
  cursor: pointer;
}*/

.gallery img {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
/*  width: 750px;
  height: 180px;*/
  z-index: 0;
}

.gallery .current {
  left: 0;
}

.carousel-nav {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.carousel-nav li {
  display: inline-block;
  list-style-type: none;
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 100%;
}
.selected {
  background-color: gray;
}

.carousel-nav li:hover {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  /*width: 750px;*/
  margin: 10px auto;
  justify-content: space-around;
}

.button-wrapper button {
  width: 60px;
  height: 30px;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #333;
  margin: 40px auto;
}
